@charset "utf-8";

/*setting*/
#skip{top:0;right:0;position:absolute;width:100%;height:15px;text-align:center;z-index:9999}
#skip li a{display:block;left:-10000px;position:absolute;top:0;width:100%;text-align:center;z-index:0;height:1px}
#skip li a:hover, #skip li a:focus, #skip li a:active {background:#ffc600;position:absolute;top:0px;left:0;z-index:5;color:#000;width:100%;height:25px;padding:1rem 0 2rem}
.blind{display:block;overflow:hidden;position:absolute;top:0;left:-5000px;font-size:1.8em}
.hide{display:none !important;margin:0;padding:0}
