@charset "utf-8";

.subcon-wrap h3{font-size:2rem;font-weight:500;color:#000;padding:1rem 0;margin:3rem 0 0;position:relative;}
.subcon-wrap h3:before{content:"";width:1.625rem;height:5px;background:#ee4123;display:block;position:absolute;top:0;left:0;}
.subcon-wrap h4{font-size:1.625rem;color:#2841b8;position:relative;padding:0 0 0 30px;margin:2rem 0 1rem;}
.subcon-wrap h4:before{content:"》";font-size:1rem;color:#fff;background:#2841b8;padding:0 4px 0 10px;position:absolute;top:6px;left:0;}
.arrow-tit{font-size:15px;color:#2841b8;position:relative;padding:0 0 0 30px;margin:1.6rem 0 1rem;}
.arrow-tit:before{content:"";width:22px;height:15px;background:url("../images/contents/arrow-tit.jpg");position:absolute;top:3px;left:0;}

.basic_p{padding:1rem 0;line-height:1.9;word-break:keep-all}
.fc_blue{color:#144a95}

.link{color:blue;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.p20{padding:20px !important}

/*over*/
.overtable,.over_table{overflow-x:auto}
.overtable>table,.over_table>table{min-width:800px;}
.over_img{overflow-x:auto}
.over_img>*{width:auto !important;}
.over_p{padding:2rem 0 1rem 2rem;position:relative;}
.over_p em{padding:0 4px;background:#ee4123;border-radius:50%;color:#fff;position:absolute;left:0;display:inline-block;}
.move1 {animation-duration:1s;animation-name:move1;animation-iteration-count:infinite;}
@keyframes move1{from {margin-left:10px;}to{margin-left:0%;}}
@media all and (min-width:1024px){
.overtable,.over_table{overflow:hidden}
.over_p{display:none}
}

/*img*/
.img_box{text-align:center;background:#ececec}
.img_box img{max-width:100%}

/*notice*/
.notice{margin:20px 0 30px;padding:5px;background:url("../images/01_portal/common/p_slash.png");border:1px solid #ccc;word-break:keep-all}
.notice p{padding:120px 30px 30px 30px;background:#fff}
.notice p{background:url(/images/01_portal/common/i_notice.png) no-repeat #fff center 20px;}
@media all and (min-width:768px){.notice p{padding:30px 30px 30px 160px;text-align:left;background-position:30px !important;}}

/*tab*/
.top-menu4{overflow:hidden;margin:3rem 0 20px;}
.top-menu4 ul:after{display:block;clear:both;content:""}
.top-menu4 ul li{float:left;width:100%;letter-spacing:-1px;}
.top-menu4 ul li a{display:block;margin:0 0 1px;padding:.625rem;text-align:center;background:#555;color:#fff;}
.top-menu4 ul li a.on{background:#ef4023;}
@media all and (min-width:768px) {
.top-menu4 .col2 li{width:50%;}
.top-menu4 .col3 li{width:33.33%;}
.top-menu4 .col4 li{width:50%;}
.top-menu4 .col5 li{width:33.33%;}
.top-menu4 .col6 li{width:33.33%;}
.top-menu4 ul li a{margin:0 5px;font-size:1.25rem;}
.top-menu4 ul li a.on{border-radius:15px 15px 0 0}
.top-menu4 ul li a:hover{text-decoration:underline}
}
@media all and (min-width:1024px) {
.top-menu4 .col4 li{width:25%;}
.top-menu4 .col5 li{width:20%;}
.top-menu4 .col6 li{width:16.666%;}
}

/*플랫폼소개*/
.plat_box{padding:57.9285% 0 0;background:url(/images/01_portal/common/bg_plat.jpg) no-repeat top center;background-size:contain}
@media all and (min-width:1024px) {
.plat_box{height:500px;padding:0;background-position:center;background-size:auto;position:relative}
.plat_box div{padding:2rem;width:550px;line-height:2;background:#000235;color:#fff;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);word-break:keep-all;}
.plat_box div h3{color:#fff;margin:0 0 1.625rem;line-height:1.6;border-bottom:3px double #ccc;}
.plat_box div h3:before{display:none}
}

.plat_list{word-break:keep-all}
.plat_list h3 em{font-size:1.14rem;color:#333;font-weight:400;display:block;}
.plat_list ul{border-top:1px solid #dfdfdf}
.plat_list li{margin:2rem 0 0;padding:0 0 2rem;border-bottom:1px solid #dfdfdf;text-align:center;box-sizing:border-box}
.plat_list i{width:67px;height:64px;margin:auto;background:url(/images/01_portal/common/micon_plat.png);display:block}
.plat_list li:nth-of-type(1) i{background-position:2px 0;}
.plat_list li:nth-of-type(2) i{background-position:-78px 0;}
.plat_list li:nth-of-type(3) i{background-position:-152px 0;}
.plat_list li:nth-of-type(4) i{background-position:-231px 0;}
.plat_list span{padding:.625rem 1rem;margin:1rem 0;background:#e9efef;border-radius:30px;display:inline-block;}
.plat_list strong{color:#d15e36;vertical-align:baseline;font-weight:400;}
@media all and (min-width:768px) {
.plat_list ul{border-bottom:1px solid #dfdfdf;}
.plat_list ul:after{display:block;clear:both;content:""}
.plat_list li{float:left;width:50%;border:0;}
}
@media all and (min-width:1024px) {
.plat_list li{width:25%;padding:1rem 2rem;}
}
.rightBtn{margin-top: 5px;}
.searchFrm{border:1px solid #cccccc;background:#f4f4f4;box-shadow:0px 2px 0px 0px #e8e8e8;margin-bottom:20px;padding:7px;position:relative;overflow:hidden;}
.searchFrm .select{padding:7px;border-radius:3px;border:1px solid #cccccc;width:49%;}
.searchTxt{padding:7px;border-radius:3px;border:1px solid #cccccc;text-align:center;font-size:14px !important;font-weight:bold;color:#000;}
.tourStatus{overflow:hidden;width:100%;margin-bottom:20px;padding-bottom:2px;}
.tourStatus.col6 .statusBox{width:49%;margin:0.5%;}

.tourStatus .statusBox{float:left;width:49%;box-sizing:border-box;border:1px solid #ccc;border-radius:9px;height:104px;/* margin-left:15px; */box-shadow:0px 2px 0px 0px #e8e8e8;margin:0.5%}
.tourStatus .statusBox .statusBoxHeader{background:#426888;border-radius:9px 9px 0 0;color:#fff;text-align:center;padding:10px 0;font-size:15px;;}
.tourStatus .statusBox .statusBoxHeader.col1{background:#4a7127;}
.tourStatus .statusBox .statusBoxHeader.col2{background:#a5825f;}
.tourStatus .statusBox .statusBoxHeader .icon_1{background:url(/images/icon_1.png) no-repeat 0 50%;padding-left:20px;}
.tourStatus .statusBox .statusBoxHeader .icon_2{background:url(/images/icon_2.png) no-repeat 0 50%;padding-left:25px;}
.tourStatus .statusBox .statusBoxHeader .icon_3{background:url(/images/icon_3.png) no-repeat 0 50%;padding-left:25px;}
.tourStatus .statusBox .statusBoxBody{text-align:center;font-weight:bold;color:#000;font-size:20px;padding-top:13px;}
.tourStatus .statusBox .statusBoxBody.top0{padding-top:0 !important;}
.tourStatus .statusBox .statusBoxBody .dashLine{overflow:hidden;padding-top:5px;}
.tourStatus .statusBox .statusBoxBody .dashLine .sTit{float:left;padding-left:10px;font-weight:normal;font-size:14px;padding-top:3px;}
.tourStatus .statusBox .statusBoxBody .dashLine .sCon{float:right;font-size:13px;padding-right:10px;}

.tourStatus .statusBox .statusBoxBody span{font-weight:normal;font-size:14px;}
.tourStatus .statusBox .statusBoxBody span.text-danger,
.tourStatus .statusBox .statusBoxBody span.text-success{font-size:20px;padding-right:5px;}

/* Tablet */

@media all and (min-width:768px) {
.rightBtn{position:absolute;top:10px; right:7px;margin:0;}


.searchFrm .select{width:auto;box-sizing:border-box;}
.tourStatus .statusBox{width:32.3333%;}
.tourStatus.col6 .statusBox{width:32.3333%;}


}


/* Desktop */
@media all and (min-width:1023px) {


.top-menu4{width:100%;}


.tourStatus .statusBox{width:13.28%;}
.tourStatus.col6 .statusBox{width:15.6666%;margin:0.5%;}
}


/*공공데이터개방신청*/
.institution_box {margin-top:30px;word-break:keep-all}
.institution_box:after {clear:both; content:''; display:block;}
.institution_box>div{padding:1rem;}
.institution_box .box_beige {background-color:#f8f6f1;}
.institution_box .box_blue {background-color:#f0f4f7;}
.institution_box .box_green {background-color:#ecf7ee;}
.institution_box.use-info-type .box {height:186px;}

/* 데이터요청 - 분쟁조정 신청 */
.step-wrap .step {display:table; width:100%; margin-top:30px;}
.step-wrap .step:first-child {margin-top:0;}
.step-wrap .step .block {display:table-cell; vertical-align: middle; width:140px; height:140px; border-radius:140px; text-align: center; background-color:#22799f;}
.step-wrap .step .title-box {text-align: center;}
.step-wrap .step .title-box .num {display:block; color:#fff; font-size:1.143em;}
.step-wrap .step .title-box .tit {display:block; color:#fff; font-size:1.143em; line-height:1.4; letter-spacing:-0.05em; margin-top:3px;}
.step-wrap .step .txt {display:table-cell; vertical-align: middle; padding-left:30px; color:#666; letter-spacing:-0.05em; }
.basic_box{border:1px solid #dfdfdf;padding:1rem;line-height:1.9;}
@media all and (min-width:768px) {
.institution_box>div{width:30.33%;margin-left:30px;float:left;}
.institution_box .box_beige{margin-left:0 !important;}
}



/*.content-wrap{width:1200px; margin:0 auto;}*/


/*06_self*/
a.self-btn{display:inline-block;padding:.625rem 1rem;background:#e7340b;color:#fff;text-align:center;}
a.self-btn:hover{background:#464646;}
ul.self-list-wrap{width:100%;}



/*07contnets*/
.self_service{background:url("../images/01_portal/common/self_bg.jpg") top center;background-size:contain;padding:66.6428% 0 0 0;}
.self_service div{background:#fff;margin:0 auto;padding:2rem 2rem 0;text-align:center}
.self_service p{padding:1rem 0 0 0;word-break:keep-all;line-height:1.8}
.self_service strong{color:#e7340b;}
.self_service ul{margin:1rem auto 0;}
.self_service li{max-width:260px;border:solid 1px #dcdcdc;margin:0 0 10px;}
.self_service li a{padding: 10px 20px 10px 53px;display:block;position: relative;box-shadow: 4px 5px 0px 0px #dbe0e7;}
.self_service li a:before{content:"";width:25px;height:25px;display:inline-block;position:absolute;top:9px;left:24px;}
.self_service li:hover a{text-decoration:underline}
.self_service li:first-child a:before{background: url("/images/contents/07img-02.jpg") no-repeat;}
.self_service li:nth-child(2) a:before{background: url("/images/contents/07img-03.jpg") no-repeat;}
@media all and (min-width:768px) {
.self_service{padding:60% 0 0;background-size:auto;position:relative}
.self_service div{width:90%;position:absolute;bottom:0;left:0;right:0;margin:0 auto}
.self_service p{padding:2rem 0 0 0;font-size:1.2rem}
.self_service ul{margin:2rem auto 0;}
.self_service li{width:49%;display:inline-block}
}
@media all and (min-width:1023px) {
.self_service{padding:30% 0 0;}
.self_service div{width:905px}
}

.link-box02{width:682px; margin: 0 auto;}
.con-link-wrap01{width:100%;  padding:20px 0 0 0;}
.con-link-wrap01 li{width:100%; float: left; border:solid 1px #dcdcdc; }
.con-link-wrap01 li a{padding: 10px 20px; display: block; text-align: center; color:#111111; font-size:15px; position: relative;  box-shadow: 4px 5px 0px 0px #dbe0e7;}
.con-link-wrap01 li a:before{content: ""; width:25px; height: 25px; background: url("/gj-bigdata/images/contents/issue-ico.jpg") no-repeat; display: inline-block; position: absolute; top:9px; left:221px;}
.issue-box{width:100%; float: left;}


/*08contnets*/
.sublist-type{}
.sublist-type li{font-size:15px; color: #333333; padding: 5px 0 0 13px;  position: relative; }
.sublist-type li:before{content: ""; width:6px; height: 2px; background: #333333; display: inline-block; position: absolute; top:15px; left:0;}
.process-list-wrap{padding: 30px 0 0 0; overflow: hidden;}
.process-list-wrap li{width: 100%;float: left;border:solid 1px #dedede;/* margin-left:57px; */position: relative;margin: 0 0 20px 0;}
.process-list-wrap li:first-child{margin-left:0px;}
.process-list-wrap li:after{content: "";width:28px;height: 46px;background: url("/images/contents/con-arrow-ico.jpg");position: absolute;top:80px;right: -16%;}
.process-list-wrap li:last-child:after{content: none;}
.process-list-wrap li a{display: block; width: 100%; background: #eee; padding: 35px 0 35px 0;text-align:center}
.process-list-wrap li span{display: block; border-top:solid 1px #dedede; text-align: center; padding: 15px 0 15px 0; color:#333333; font-size: 15px;}
@media all and (min-width:768px) {
.process-list-wrap li{width:29%;margin-left:5%}
}
@media all and (min-width:1023px) {
.process-list-wrap li:after{right: -12%;}
}

.self-list-wrap{overflow: hidden;}
.self-list-wrap li{width: 100%;float: left;/* margin-left:60px; */margin: 0 0 20px 0;}
.self-list-wrap li:first-child{ margin-left:0px;  }
.self-list-wrap li a{border:solid 1px #dedede;display: block;text-align:center}
.self-list-wrap li a img{padding:10px 0 10px 0;width: 90%;/* height: 150px; */}
.self-list-wrap li span{display: block; padding: 20px 10px 20px 10px; background: #eee; font-size:15px; color:#333333; text-align: center;}
@media all and (min-width:768px) {
.self-list-wrap li{width:30%;margin-left: 5%;}
}
@media all and (min-width:1023px) {
.self-list-wrap li a{height: 295px;}
.self-list-wrap li a img{width:auto}
}



/*09contnets*/
.linkbox-list-wrap{overflow:hidden;}
.linkbox-list-wrap li{width:49%; float: left; margin:20px 0 0 0; }
.linkbox-list-wrap li:nth-child(2n){float: right;}
.linkbox-list-wrap li a{width:98%; border:solid 1px #dedede; display: block; padding: 15px 0 15px 0; text-align: center; font-size:15px; color:#333333;  box-shadow: 4px 5px 0px 0px #dbe0e7; }
.linkbox-list-wrap li a:hover{background:aliceblue;}
.block-box{margin:20px 0 0 0;}
.img-block{width:305px; border:solid 1px #dedede; padding: 10px; display: block; float: left;}
.block-box .btn-wrap{margin:27px 0 0 20px; display: inline-block;}
.block-box .btn-wrap a{padding: 10px 20px 10px 42px; display: inline-block; color:#fff; background: #383a4a; text-align: center; width: 195px; position: relative; font-size:15px;}
.block-box .btn-wrap a:before{content: "";  width:16px; height: 14px; background: url("/images/contents/sub-homeico.jpg"); position: absolute; top:14px; left:37px;}

.tb-type1{width:100%; margin:30px 0 30px 0; }
.tb-type1 thead tr th{background: #f6f6f6; color:#333333; border-left:solid 1px #dedede; border-bottom:solid 1px #dedede; text-align: center; border-top:solid 2px #81838b; padding: 15px 0 15px 0; font-size:15px; font-weight: bold;}
.tb-type1 thead tr th:first-child{border-left:none;}
.tb-type1 tbody tr td{background: #fff; color: #333333; text-align: left; border-left:solid 1px #dedede; border-bottom:solid 1px #dedede; padding: 15px 0 15px 10px; font-size:15px; }
.tb-type1 tbody tr td:first-child{border-left:none;}
.tb-type1 tbody tr td.bd-left{border-left:solid 1px #dedede !important;}


.bbsTitle{font-weight:bold;color:#000;font-size:20px;}
.bbsTitle small{font-weight:normal;font-size:14px;}
.bbsCont{font-size:15px !important;padding:30px;}
.bbsBottom * {font-size:15px !important;}	


#mstrBtn *{font-size:15px !important;}                                                                                                                                                                                                                  


















/*sitemap*/
.sitemap>div{margin:0 0 1rem;border:1px solid #dfdfdf;border-radius:10px;overflow:hidden;word-break:break-all}
.sitemap div h4{background:#f4f4fe;padding:1rem 0;margin:0;overflow:hidden}
.sitemap div h4:before{display:none}
.sitemap div h4 a{display:block;font-size:1.4rem;font-weight:600;color:#06326f;word-break:keep-all;text-align:center;}
.sitemap div div{padding:1rem}
.sitemap ul li{border-top:1px dotted #dedede;line-height:1.5em;font-size:18px;padding:20px 0 0 0;margin:20px 0 0 0;font-weight:bold}
.sitemap div>ul>li:first-child{border:none;padding:0;margin:0}
.sitemap ul li a{display:block;margin:0 0 20px 0;color:#06326f;position:relative}
.sitemap ul li a:hover,.sitemap ul li a:focus{text-decoration:underline}
.sitemap ul ul li{border:none;padding:0 0 0 10px;margin:10px 0;background:url("../images/common/li02.gif") no-repeat 0 7px;font-size:15px;font-weight:normal}
.sitemap ul ul li a{margin:0;color:#000;}
.sitemap ul ul li a:before{content:"-";padding:0 4px 0 0;}
.sitemap ul ul ul li{padding:0 0 0 8px;margin:5px 0;background:url("../images/common/li03.gif") no-repeat 0 8px}
.sitemap ul ul ul li a{color:#7d7d7d}
@media all and (min-width:768px) {
.sitemap ul ul{overflow:hidden}
.sitemap ul ul li{float:left;margin:0 50px 10px 0}
.sitemap ul ul ul li{margin:2px 0}
.sitemap ul ul ul li a{margin:0 10px 0 0}
}
@media all and (min-width:1023px) {
.sitemap>div{position:relative;padding:0 0 0 20%;}
.sitemap div h4{width:20%;position:absolute;top:0;left:0;bottom:0;}
.sitemap div h4 a{width:90%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.sitemap>div>div>ul>li{vertical-align:top;width:calc(25% - 20px);float:left;border:0;padding:0 0 0 20px;margin:0 0 0 20px;}
.sitemap div>ul>li:first-child,.sitemap div>ul>li:nth-of-type(5n),.sitemap div>ul>li:nth-of-type(9n){border:none;padding:0;margin:0}
.sitemap>div>div>ul>li>a{border:1px solid #dedede;text-align:center;padding:1rem;}
.sitemap>div>div>ul>li:hover>a{background:#fefef4;border-color:#06326f}
}       

/*로그인*/
.login>div{background:#E8EDF9;padding:30px;font-size:1.2rem}
.login>div li{margin:0 0 15px 0}
.login>div label{display:block;font-weight:bold;color:#142E75;width:40%;margin:0 0 5px 0}
.login>div input[type=text], .login>div input[type=password]{background:#fff;width:100%;height:45px;padding:0 20px;}
.login>div input[type=submit]{width:100%;height:45px;background:#123466;border-radius:3px;color:#fff;font-size:1rem}
.login>div input[type=submit]:hover, .login>div input[type=submit]:focus{background:#002c9b;}
.login>ul{text-align:center;margin:15px 0 0 0}
.login>ul>li{display:inline;padding:0 15px 0 0;margin:0 10px 0 0;background:url("../images/common/line.gif") no-repeat right center;letter-spacing:-0.05em}
.login>ul>li a{color:#36322d}
.login>ul>li a:hover{text-decoration:underline}
.sub_login .join{background:none;padding:0;margin:0}
.sub_login .join a{padding:0 0 0 20px;color:#002c9b;font-weight:600;}
@media all and (min-width:768px) {
.login>div{padding:30px 25%;position:relative}
.login>div ul{margin:0 110px 0 0}
.login>div li{overflow:hidden;margin:0 0 4px 0}
.login>div label{float:left;width:30%;padding:11px 0 0 0;margin:0}
.login>div input[type=text], .login>div input[type=password]{float:right;width:70%}
.login>div input[type=submit]{position:absolute;top:30px;right:25%;width:105px;height:94px}
.login>ul>li{font-size:16px;padding:0 30px 0 0;margin:0 25px 0 0}
}
.sub_login .hp{padding:30px;margin:20px 0 0;border:1px dotted #cdcdcd}
.sub_login dt{color:#363636;font-size:1.5rem;font-weight:600}
.sub_login dd{margin:15px 0 0 0;line-height:1.5em;word-break:keep-all}
.sub_login dd a{display:inline-block;background:#123466;border-radius:3px;color:#fff;padding:10px 40px;}
.sub_login dd a:hover{background:#002c9b;}
@media all and (min-width:768px) {
.sub_login .hp{padding:50px 50px 50px 340px;background:url("../images/01_portal/common/i_logphone.png") no-repeat 110px center;position:relative}
}
@media all and (min-width:1200px) {
.sub_login .hp dd:last-of-type{width:30%;position:absolute;top:50px;right:50px;}
}