@charset "utf-8";
/*
:after{display:block;clear:both;content:""}
*/
#skip{top:0;right:0;position:absolute;width:100%;height:15px;text-align:center;z-index:9999}
#skip li a{display:block;left:-10000px;position:absolute;top:0;width:100%;text-align:center;z-index:0;height:1px;}
#skip li a:hover, #skip li a:focus, #skip li a:active {background:#363636;position:absolute;top:0px;left:0;z-index:5;color:#fff;width:100%;height:25px;padding:5px 0 0 0}
.blind{display:block;overflow:hidden;position:absolute;top:0;left:-5000px;font-size:1.8em}
.hide{display:none !important;margin:0;padding:0}

.container_m{word-break:keep-all;width:100%;}
/*button*/
.main .btn_set a{width:38px;height:0;padding-top:33px;background:url(../images/01_portal/common/i_common.png) #ffc600;display:inline-block;overflow:hidden;position:absolute;top:30%;}
.main .btn_set .prev{background-position:-6px -100px;border-radius:0 50% 50% 0;left:0;}
.main .btn_set .next{background-position:-52px -100px;border-radius:50% 0 0 50%;right:0;}
.main .btn_set2{padding:1rem 0;text-align:center;}
.main .btn_set2 a{font-weight:600;display:inline-block}
.main .btn_set2 span{display:inline-block;vertical-align:middle}
.main .btn_set2 span:before,.main .btn_set2 span:after{width:4px;height:4px;margin:0 10px 6px;background:#666;border-radius:50%;display:inline-block;content:""}
.main .btn_set2 strong{color:#ee4123;font-weight:900;font-size:1.25rem;display:inline-block;vertical-align:bottom}
@media all and (min-width:1024px){
/*button*/
.main .btn_set a{width:auto;height:33px;line-height:33px;padding:0 1rem;font-weight:600;background:#fff;display:inline-block;top:35%}
.main .btn_set .prev{padding-left:2rem;border-radius:30px}
.main .btn_set .next{padding-right:2rem;border-radius:30px}
.main .btn_set a:before{width:30px;height:0;padding-top:33px;background:url(../images/01_portal/common/i_common.png);display:inline-block;overflow:hidden;position:absolute;top:0;content:""}
.main .btn_set .prev:before{background-position:-6px -100px;left:0}
.main .btn_set .next:before{background-position:-56px -100px;right:0;}
.main .btn_set a:hover{background-color:#ffc600}
.main .btn_set2{padding:2rem 0;}
.main .btn_set2 a:hover{color:#ee4123;text-decoration:underline}
}

/**VISUAL**/
.visual{padding:0 0 2rem;position:relative}
.visual>div:first-of-type{max-width:1400px;margin:auto;position:relative;}
.visual h2{max-width:520px;margin:auto auto 50px;padding:150px 1rem 0;font-size:1.375rem;font-weight:400;color:#333;text-align:center;text-shadow:0px 0px 4px #fff}
.visual h2 strong{padding:.625rem 0 0;font-size:2.375rem;color:#e6585a;display:block;position:relative}
.visual h2 strong:before,.visual h2 strong:after{display:inline-block;position:absolute;top:6px;content:"";}
.visual h2 strong:before{content:"\201C";left:0}
.visual h2 strong:after{content:"\201D";right:0;}
.visual_box{height:100%;position:absolute;top:0;width:100%;overflow:hidden;z-index:-1;}
.visual_box li{width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden}
.visual .btn_set2 a{padding:4px 10px;background:#ffc600}
/*
.visual_box .vimg01{background:url(../images/01_portal/main/bg_visual.png) #EEECEC no-repeat center;background-size:cover;}
.visual_box .vimg02{background:url(../images/01_portal/main/bg_visual02.png) #ABD4F6 no-repeat center;background-size:cover;}
.visual_box .vimg03{background:url(../images/01_portal/main/bg_visual03.jpg) #405074 no-repeat center;background-size:cover;}
.visual_box .vimg04{background:url(../images/01_portal/main/bg_visual04.jpg) #405475 no-repeat center;background-size:cover;}
*/
.visual .btn_set a{top:50%}
@media all and (min-width:768px){
.visual h2{padding:12rem 0 1rem;}
}
@media all and (min-width:1024px){
.visual{height:643px;}
.visual h2{max-width:720px;padding:16rem 0 0;font-size:1.875rem;}
.visual h2 strong{font-size:3.375rem;}
.visual_box li{background-size:auto}
}
@media all and (min-width:1200px){
.visual .btn_set .prev{left:10%}
.visual .btn_set .next{right:10%}
}

@media all and (min-width:768px){
}
.search_wrap{width:calc(40% - 1rem);padding:0 0 0 1rem;position:relative;display:inline-block}
.search_wrap button{background-color:#144a95;}
.search_wrap button span{width:47px;height:0;padding-top:47px;margin:auto;background:url(../images/01_portal/common/i_common.png);display:block;overflow:hidden;}
.search_wrap .open{width:100%;height:104px;}
.search_wrap .open span{background-position:-47px 0px}
.search_wrap .close{position:absolute;top:0;left:1rem;background-color:#06326f}
.search_wrap .close span{background-position:-94px 0px;}
.search_box{display:none;font-size:.875rem;}
.search_box.on{width:100vw;padding:3rem 1rem 1rem;background:#fff;display:block;position:absolute;top:0px;left:0;z-index:1}
.search_box>form{border:1px solid #144a95;}
.search_box select{display:none}
.search_box input[type="text"]{width:calc(100% - 60px);padding:1rem;font-size:inherit;text-align:center}
.search_box input[type="submit"]{width:60px;height:0;padding-top:52px;background:url(../images/01_portal/main/i_main.png) -22px -18px #144a95;}
.search_condition{padding:.675rem 0 0;}
.search_condition h3{font-size:inherit;display:inline-block;}
.search_condition h3:after{width:1rem;height:14px;background:url(../images/01_portal/common/i_common.png) -184px -76px;display:inline-block;content:"";}
.search_condition form{display:inline-block}
.search_condition form:after{display:block;clear:both;content:""}
.search_condition select{padding:4px 10px;background:rgba(0,0,0,.8);color:#fff;font-size:.8125rem;float:left;}
@media all and (min-width:768px){
.visual article{vertical-align:top}
.search_wrap{width:calc(60% - 1rem);max-width:726px;}
.search_wrap button{display:none}
.search_box,.search_box.on{width:100%;background:0;padding:0;display:block;position:static;font-size:1.125rem;}
.search_box>form{background:#fff;border:3px solid;position:relative}
.search_box select{width:30%;padding:1rem;text-align:center;border-right:1px solid #dfdfdf;color:#555;font-weight:600;display:inline-block;box-sizing:border-box;float:left;}
.search_box select:after{width:1rem;height:14px;margin:0 0 0 10px;background:url(../images/01_portal/common/i_common.png) -234px -44px;display:inline-block;content:"";}
.search_box input[type="text"]{width:54%;padding:1rem;font-size:1.125rem;float:left;}
.search_box input[type="submit"]{width:16%;padding-top:60px;background-position:-18px -14px;float:right;}
.search_condition{margin:0 0 0 1.4rem}
.search_condition h3{font-size:1rem;}
.search_condition select{font-size:1rem;margin:0 5px;}
}
@media all and (min-width:1024px){
.search_wrap{margin:0 0 0 9rem}
.search_wrap button{display:none}
.search_box select{width:20%;padding:1.98rem 1rem;}
.search_box input[type="text"]{width:66%;padding:2rem 1rem}
.search_box input[type="submit"]{width:14%;padding-top:92px;background-position:-0px -0px;}
.search_condition form{margin:0 0 0 2.4rem}
.search_condition select{padding:.625rem 2rem;}
}

.popu_keyword{width:calc(60% - 1rem);margin:0 1rem 0 10px;display:inline-block;}
.popu_keyword h3{font-size:1rem;color:#666;font-weight:400;border:1px solid #d1d3d9;border-bottom:0;background:#fff;padding:.57rem;}
.popu_keyword>div{position:relative}
.popu_keyword ul{width:100%;border:1px solid #d1d3d9;background:#fff;padding:1rem;}
.popu_keyword li{font-size:1.125rem;display:none;}
.popu_keyword li.on{display:block;}
.popu_keyword li em{font-weight:900;display:inline-block;color:#ee4123;padding:0 1rem 0 0;}
.popu_keyword li a{width:calc(100% - 44px);font-weight:600;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.popu_keyword .btn_set3 a{width:1rem;height:0;padding-top:1rem;background:url(../images/01_portal/common/i_common.png); display:block;position:absolute;right:10px;overflow:hidden}
.popu_keyword .btn_set3 .prev{background-position: -102px -46px;top:20px;}
.popu_keyword .btn_set3 .next{background-position: -102px -82px;bottom:10px;}
@media all and (min-width:768px){
.popu_keyword{width:calc(40% - 1rem);max-width:386px;}
.popu_keyword ul{padding:1rem 1.75rem}
}
@media all and (min-width:1024px){
.popu_keyword h3{width:34%;float:left;padding:1.5rem;border-bottom:1px solid #d1d3d9}
.popu_keyword>div{width:66%;float:right;}
.popu_keyword ul{border-left:0;padding:2.08rem 1.75rem;}
.popu_keyword .btn_set3 .prev{top:38px;}
.popu_keyword .btn_set3 .next{bottom:26px;}
}

.quickinfo{box-shadow:0 0 30px 0 rgba(4,52,113,.33);    background: #fff;
    position: relative;}
.quickinfo>div{max-width:1400px;padding:1.625rem 1rem;margin:0 auto;}
.quickinfo ul:after{display:block;clear:both;content:""}
.quickinfo li{float:left;width:33.33%;text-align:center;}
.quickinfo span{width:6px;height:6px;background:#2b5c9f;border-radius:50%;display:inline-block}
.quickinfo p{font-size:1rem;color:#888;font-weight:600;}
.quickinfo strong{font-size:1.25rem;color:#003b8c;font-weight:400;display:block;word-break:break-all;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.quickinfo strong:after{content:"건";padding:0 0 0 2px;font-size:.875rem;font-weight:500;}
.quickinfo em{font-size:1rem;font-weight:400;display:block;margin:1rem 0 0;color:#333}
@media all and (min-width:768px){
.quickinfo li{width:16.66%}
.quickinfo span{width:72px;height:72px;margin:0 0 1rem;background:url(../images/01_portal/main/i_main.png) #2b5c9f;}
.quickinfo li:nth-of-type(1) span{background-position:0px -190px}
.quickinfo li:nth-of-type(2) span{background-position:-72px -190px}
.quickinfo li:nth-of-type(3) span{background-position:-144px -190px}
.quickinfo li:nth-of-type(4) span{background-position:-216px -190px}
.quickinfo li:nth-of-type(5) span{background-position:-288px -190px}
.quickinfo li:nth-of-type(6) span{background-position:-360px -190px}
}
@media all and (min-width:1024px){
.quickinfo>div{padding:3.5rem 0;}
.quickinfo li{position:relative}
.quickinfo li:after{height:4.25rem;border-right:2px dashed #dbdbdb;position:absolute;top:25%;right:0;display:block;content:"";}
.quickinfo li:last-child:after{display:none}
.quickinfo span{margin:0 0 2.75rem}
.quickinfo p{font-size:1.25rem;}
.quickinfo strong{font-size:2.25rem;}
.quickinfo strong:after{font-size:1.125rem;}
}

.chartlist{background:#fff}
.chartlist>div{max-width:1400px;height:420px;padding:2.6rem 1rem;margin:auto;position:relative;text-align:center}
.chartlist>div:after{display:block;clear:both;content:""}
.chartlist h2{display:inline-block;padding:0 .5rem;font-size:1.2rem;font-weight:400;position:relative;letter-spacing:-.199rem}
.chartlist h2:after{content:"/";font-size:.625rem;color:#000;font-weight:400;position:absolute;top:25%;right:-3px;}
.chartlist h2:last-of-type:after{display:none}
.chartlist h2.on,.chartlist h2:hover{font-weight:600;color:#ee4123;}
.chartlist h2.on:before{content:"●";font-size:10px;position:absolute;top:-1rem;left:4px}
.cl_wrap{display:none}
.cl_wrap.on{width:100%;position:absolute;top:6.25rem;left:0;display:block;overflow:hidden}
.cl_wrap ul:after{display:block;clear:both;content:""}
.cl_wrap li{width:300px;margin:0 0 0 10px;float:left}
.cl_wrap a{display:block}
.cl_wrap figure{border:1px solid #dfdfdf;background:#fff;}
.cl_wrap figure img{max-width:100%;max-height:270px;margin:auto;display:block;}
.cl_wrap figcaption{padding:.5rem 1rem;border-top:1px solid #dfdfdf;position:relative}
.cl_wrap figcaption em{font-size:.875rem;font-weight:600;display:block}
.cl_wrap figcaption strong{width:90%;font-size:1rem;font-weight:400;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.cl_wrap figcaption span{width:35px;height:0;padding-top:35px;background:url(../images/01_portal/common/i_common.png) -52px -145px;border-radius:50%;display:inline-block;overflow:hidden;position:absolute;top:25%;right:1rem;}
/*color-chart*/
.cl_wrap .il_color1 em{color:#003b8c;}
.cl_wrap .il_color2 em{color:#1e7aaa;}
.cl_wrap .il_color3 em{color:#ee4123;}
.cl_wrap .il_color1 span{background-color:#003b8c;}
.cl_wrap .il_color2 span{background-color:#1e7aaa;}
.cl_wrap .il_color3 span{background-color:#ee4123;}
.cl_wrap .il_color1 a:hover figcaption{background:rgba(0,59,140,.93);}
.cl_wrap .il_color2 a:hover figcaption{background:rgba(10,74,107,.93);}
.cl_wrap .il_color3 a:hover figcaption{background:rgba(156,48,34,.93)}
@media all and (min-width:1024px){
.chartlist{border-bottom:1px solid #dfdfdf;}
.chartlist>div{height:610px;padding-top:5rem}
.chartlist h2{font-size:1.625rem;letter-spacing:0;padding:0 1rem}
.chartlist h2.on{font-size:1.875rem;}
.chartlist h2:after{font-size:.875rem;}
.cl_wrap.on{padding:0 1.4rem;top:10rem}
.cl_wrap ul{}
.cl_wrap li{width:calc(33.33% - 25px)}
.cl_wrap figure{height:349px;overflow:hidden;position:relative;}
.cl_wrap figure img{transition:.5s ease-in-out}
.cl_wrap figcaption{font-size:1.25rem;padding:1rem 2rem;height:75px;text-align:left;}
.cl_wrap figcaption span{width:auto;line-height:35px;height:35px;padding:0 1.2rem;border-radius:30px;color:#fff;font-weight:600;font-size:1rem;background-image:none}
.cl_wrap figcaption strong{width:calc(100% - 100px);font-size:1.25rem}
.cl_wrap a:hover figure{border:0;box-shadow:0 0 20px 0 rgba(0,0,0,.2);}
.cl_wrap a:hover figure img{position:absolute;bottom:0;left:0;transform:scale(1.2);transition:.5s ease-in-out}
.cl_wrap a:hover figcaption{width:100%;height:100%;padding-top:20%;position:absolute;top:0;left:0;text-align:center;transition:.5s ease-in-out}
.cl_wrap a:hover figcaption em{font-size:1.25rem;display:inline-block;padding:.5rem 1.4rem;background:#fff;border-radius:30px}
.cl_wrap a:hover figcaption strong{width:100%;margin:1rem 0 0;font-size:2.25rem;color:#fff;}
.cl_wrap a:hover figcaption span{padding-right:35px;top:auto;bottom:20%;right:50%;transform:translate(50%,-0%)}
.cl_wrap a:hover figcaption span:after{width:35px;height:35px;background:url(../images/01_portal/common/i_common.png) -52px -145px;border-radius:30px;display:inline-block;overflow:hidden;position:absolute;top:0;right:0;content:""}
}

.information{width:100%;position:relative;overflow:hidden}
.information>div{max-width:1400px;margin:auto;position:relative;}
.information>div:before{content:"";background:#fdf7f8;display:block;width:100vw;height:500px;position:absolute;top:0px;bottom:0;right:100%;}
.information>div:after{display:block;clear:both;content:""}
.information h2{font-size:1.875rem;font-weight:400;display:inline-block;position:relative;z-index:1}
.information h2:before{background:#fff4cd;width:100%;height:20px;padding:0 10px;display:inline-block;position:absolute;bottom:10px;left:-10px;z-index:-1;content:"";}
@media all and (max-width:374px){.information h2{font-size:1.625rem}}

/*self analysis*/
.selfanalysis{padding:2rem 1rem;background:#fdf7f8;position:relative;z-index:1}
.selfanalysis>div{padding:2rem 1rem;background:rgba(255,255,255,.9);box-shadow:0 0 20px 0 rgba(3,116,156,.2);text-align:center}
.selfanalysis>div:after{width:100%;background:url(../images/01_portal/main/bg_self.png) no-repeat;display:block;content:"";position:absolute;top:0;left:auto;right:0;bottom:0;z-index:-1}
.selfanalysis p{margin:2rem 0;font-weight:200}
.selfanalysis span{display:block}
.selfanalysis a{padding:6px 1rem;margin:4px;background:#033470;color:#fff;display:inline-block}
.selfanalysis a:after{content:"";display:block;width:16px;height:16px;background:url(../images/01_portal/common/i_common.png) -184px -46px;display:inline-block;vertical-align:middle}
/*calendar*/
.calendar{padding:2rem 1rem 0;text-align:center;}
.calendar h2 em{font-weight:200;display:inline-block;vertical-align:baseline}
.calendar h2 strong{color:#ee4123;font-weight:600;display:inline-block;vertical-align:baseline}
.cal_box{padding:1rem 1rem 0;margin:1rem auto;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;position:relative}
.cal_box .btn_set .prev{top:35%;left:-1rem;}
.cal_box .btn_set .next{top:35%;right:-1rem;}
.cal_box table{width:100%;max-width:320px;margin:auto;}
.cal_box th{color:#555;font-weight:400;}
.cal_box a{width:30px;line-height:27px;display:inline-block}
.cal_box .sun,.cal_box .sun a{color:#ee4123}
.cal_box .sat,.cal_box .sat a{color:#2ea2de}
.cal_box .today a{color:#fff;border-radius:50%;background:#ee4123;}
.cal_box .event a{border:2px solid #ffc600;border-radius:50%;}
.calendar .more{width:50px;height:0;padding:50px 0 0;margin:auto;background:url(../images/01_portal/main/i_main.png) -446px -3px;overflow:hidden;display:block;}
/*common list box*/
.list_box{text-align:left;position:relative}
.list_box li{padding:0 0 .625rem 1rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position:relative}
.list_box li:before{width:4px;height:4px;background:#ee4123;border-radius:50%;display:inline-block;position:absolute;top:10px;left:0;content:""}
/*bbs*/
.boardnotice{padding:2rem 1rem;background:#f2f5f9;position:relative;z-index:1}
.board_wrap:after{width:100vw;background:url(../images/01_portal/main/bg_notice.png) repeat-x left bottom #f2f5f9;display:block;content:"";position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1}
.boardnotice .list_box{margin:2rem 0 0;}
.boardnotice .list_box a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.boardnotice .list_box em{display:none;}
.boardnotice .more{font-weight:600;color:#ee4123;position:absolute;top:3rem;right:1rem;}

@media all and (min-width:768px){
/*calendar*/
.calendar{float:left;width:50%;}
.calendar .list_box li{width:80%}
.calendar .more{position:absolute;bottom:1rem;right:0;}
/*bbs*/
.boardnotice{float:right;width:50%;}
.boardnotice .list_box a{display:inline-block;width:74%;}
.boardnotice .list_box em{display:inline-block;margin:6px 0 0;float:right;font-size:0.8125rem;color:#3e3e3e;}
}

@media all and (min-width:1024px){
.information article{float:left;width:33.33%;height:500px;}
/*self analysis*/
.selfanalysis{padding:3rem 4.125rem 0 0;}
.selfanalysis>div{padding:4rem 3rem}
.selfanalysis>div:after{width:671px;}
.selfanalysis p{margin-bottom:4.6rem;font-weight:400}
.selfanalysis a:hover{background:#003b8c}
/*calendar*/
.calendar{padding:7rem 4rem 1rem;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.cal_box{padding:1rem 0;}
.cal_box .btn_set .prev{left:-4rem;}
.cal_box .btn_set .next{right:-4rem;}
.calendar .more{bottom:-1rem;right:-3rem}
.cal_box a:hover{text-decoration:underline}
.calendar .more:hover{transform:rotate(180deg)}
/*bbs*/
.boardnotice{padding:7rem 0 1rem 3.125rem}
.boardnotice .list_box li{padding-bottom:1rem}
.boardnotice .more{top:8rem;right:0}
.boardnotice .more:hover{text-decoration:underline}
/*common list box*/
.list_box a:hover{text-decoration:underline}
}









